// out: ../css/style.css
@width: 1920px;
@min-width: 400px;
@padding: 40px;

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway.ttf);
}

@font-face {
    font-family: Raleway SemiBold;
    src: url(../fonts/raleway_semi_bold.ttf);
}

@font-face {
    font-family: Raleway ExtraBold;
    src: url(../fonts/raleway_extra_bold.ttf);
}

body {
    margin: 0 auto;
    width: @width;
}

.slider {
    width: @width;
    padding: @padding;
    background-color: rgba(17, 17, 17, 0.7);
    background-image: url(../img/photo.png);
    box-sizing: border-box;
    background-repeat: no-repeat;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .LOGO {}

    .name {
        width: 115px;
        color: #ffffff;
        font-family: Raleway;
        font-size: 34px;
        font-weight: 400;
        margin: 10px 0 0 0;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        padding-inline-start: 0;
        margin: 20px 0 0 @padding;
    }

    .menu-element {
        list-style: none;
        padding: 0 30px 0 0;
    }

    .menu-link {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;

        &:hover {
            color: #c7b299;
        }
    }

    .menu-pic {
        &:hover {}

        &.menu-searching {
            margin: 15px 0 0 30px;
            background-image: url(../img/icon-search.svg);
            width: 26px;
            height: 24px;
            fill: #ffffff;
            background-repeat: no-repeat;
        }
    }

    .menu-cart {
        margin: 15px 0 0 30px;
        background-image: url(../img/icon-cart.svg);
        width: 24px;
        height: 24px;
        fill: #ffffff;
        background-repeat: no-repeat;

        &:hover {
            fill: #c7b299;
        }
    }
}

.slider {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-headline {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    margin: 285px 0 0 0;
}

.slider-headline-major {
    color: #ffffff;
    font-family: Raleway ExtraBold;
    font-size: 52px;
    font-weight: 400;
    margin: 15px 0 0 0;
}

.slider-text {
    width: 562px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 20px 0 0 0;
    text-align: center;
}

.slider-button {
    color: #ffffff;
    font-family: Raleway ExtraBold;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 170px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin: 50px 0 0 0;

    &:hover {
        background-color: #111111;
        color: #c7b299;
    }
}

.slider-slides {
    width: 15px;
    height: 15px;
    border: 2px solid #d3c1ad;
    border-radius: 50%;
    margin: 310px 0 0 0;

    &:hover {
        border-color: #111111;
    }
}


main {
    .navigation {
        display: flex;
        align-items: center;
        padding: 80px;

        .navigation-link {
            text-decoration: none;
            color: #555555;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:after {content: ""; width: 70px; border-bottom: 3px solid #f1eee9; margin: 16px 0 0 0;}
            &:hover {&:after {border-bottom: 3px solid #c7b299; }
                svg {
                    fill: #c7b299;
                }

                h3 {
                    color: #c7b299;
                }

                p {
                    color: #c7b299;
                }
            }

            svg {
                width: 49px;
                height: 49px;
                fill: #555555;
            }

            h3 {
                color: #555555;
                font-family: Raleway SemiBold;
                font-size: 22px;
                font-weight: 400;
            }

            p {
                color: #8c8c8c;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                text-align: center;
            }
        }
    }

    .screenshots {
        background-color: #fbfaf8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0 0 0;

        h3 {
            color: #555555;
            font-family: Raleway SemiBold;
            font-size: 30px;
            font-weight: 400;
        }

        p {
            width: 757px;
            color: #8c8c8c;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
            text-align: center;
        }

        .screenshots-wrapper {
            position: relative;
            width: 100%;
            height: 522px;

            .left {
                position: absolute;
                top: 122px;
                left: 350px;
            }

            .center {
                position: absolute;
                top: 40px;
                left: 580px;
                z-index: 2;
            }

            .right {
                position: absolute;
                top: 122px;
                left: 810px;
            }
        }

    }
}



footer {
    padding: 45px 375px;
    width: 1920px;
    background-color: #111111;box-sizing: border-box; display: flex; justify-content: space-between;
    span {color: #555555;
font-family: Montserrat;
font-size: 13px;
font-weight: 300;
line-height: 20px;
        a {color: #959595; text-decoration: none;
            &:hover{
            }
        }
    }
    a {color: #959595;text-decoration: none;
        &:hover{
        }
    }
}
